.main {}

.main section {
	height: 700px;
}

.section-one {
	background: url(http://weker.img-cn-shanghai.aliyuncs.com/images/one.png) no-repeat center;
	background-size: cover;
}

.section-two {
	background: url(http://weker.img-cn-shanghai.aliyuncs.com/images/two.png) no-repeat center;
	background-size: cover;
}

.section-third {
	background: url(http://weker.img-cn-shanghai.aliyuncs.com/images/third.png) no-repeat center;
	background-size: cover;
}

.section-four {
	background: url(http://weker.img-cn-shanghai.aliyuncs.com/images/four.png) no-repeat 80% center;
	background-size: 28% 700px;
}

section .inner {
	height: 100%;
	width: 100%;
	background: url(http://weker.img-cn-shanghai.aliyuncs.com/images/cover1.png) center;
}

section .content {
	/*border: 1px solid #f00;*/
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	color: #fff;
}
section .content h3{
	font-size: 50px;
	font-weight: 84;
	text-indent: 5px;
}
.des{
	font-size: 20px;
}
.item
{
	text-align: center;
	width: 100%;
	margin-top: 100px;
}

.item  img{
	height: 70px;
	display: block;
	margin: 0 auto;
}.item  p{
	text-align: center;
	font-size: 20px;
	margin-top: 22px;
}
.section-third .item img
{
	height: 100px;
}
.section-two .item img
{
	height: 80px;
}
.section-one .content ,.section-two .content,.section-third .content
{
	padding-top: 230px;
	padding-left:140px ;
	padding-left: 140px;
}

.section-one .content {
	
}

.section-two .content {
}

.section-third .content {
}

.section-four .content {
	padding-top: 100px;
}
.section-four  h2{
	font-size: 42px !important;
	text-align: center;
}
.section-four h2 span{
	position: relative;
	margin: 0px 20px;
}
.section-four h2 span i{
	position: absolute;
	right: -20px;
	top:-5px;
	z-index: 2;
	width: 20px;
	height: 20px;
	background: url(http://weker.img-cn-shanghai.aliyuncs.com/images/o.png) no-repeat center;
	
}
.des-box
{
	
	height: 158px;
	width: 158px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #fff;
	box-shadow:  0px 0px 15px #ccc;
	/*padding-top: 25px;*/
	
}
.des-box-inner
{
	height: 158px;
	width: 158px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #fff;
	box-shadow:inset  0px 0px 15px #ccc;
	padding-top: 25px;
}
.des-box p{
	font-size: 34px;
	margin: 0px ;
}
.item li{
	float: left;
	width: 18%;
	margin: 0px 1%;
}
.contact
{
	clear: both;
	font-size: 20px;
	text-align: center;
	padding-top: 100px;
}
.contact em{
	font-style: normal;
	font-size: 30px;
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	section .content {
		width: 100%;
	}
}