.section-one .img1{
  background: url(http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/t1/t1_1.png) no-repeat center center;
  height: 474px;
}
.section-one .img2{
  background: url(http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/t1/t2_2.png) no-repeat center center;
  height: 918px;
}
.section-one .img3{
  background: url(http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/t1/t2_3.png) no-repeat center center;
  height: 699px;
}
.section-one .img4{
  background: url(http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/t1/t2_4.png) no-repeat center center;
  height: 1154px;
}
.section-one .img5{
  background: url(http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/t1/t2_5.png) no-repeat center center;
  height: 1140px;
}
.section-one .img6{
  background: url(http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/t1/t2_6.png) no-repeat center center;
  height: 1361px;
}
.section-one .img7{
  background: url(http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/t1/t2_7.png) no-repeat center center;
  height: 1173px;
}