.section-one .img1{
  background: url('http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/T2-web/T2.1.png') no-repeat center center;
  height: 924px;
}
.section-one .img2{
  background: url('http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/T2-web/T2.2.png') no-repeat center center;
  height: 1429px;
}
.section-one .img3{
  background: url('http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/T2-web/T2.3.png') no-repeat center center;
  height: 1435px;
}
.section-one .img4{
  background: url('http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/T2-web/T2.4.png') no-repeat center center;
  height: 1224px;
}
.section-one .img5{
  background: url('http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/T2-web/T2.5.png') no-repeat center center;
  height: 1383px;
}
.section-one .img6{
  background: url('http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/T2-web/T2.6.png') no-repeat center center;
  height: 1444px;
}
.section-one .img7{
  background: url('http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/T2-web/T2.7.png') no-repeat center center;
  height: 1134px;
}
.section-one .img8{
  background: url('http://weker.oss-cn-shanghai.aliyuncs.com/images/qietu/T2-web/T2.8.png') no-repeat center center;
  height: 1114px;
}