body {
	font-family: "微软雅黑" !important;
	margin: 0 auto;
}

a {
	color: #fff;
}
body,
ul,
li,
ol,
img {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

footer {
	border-top: 5px solid #696969;
	background: #f7f7fa;
	padding-top: 50px;
	overflow: hidden;
}

.footer-top {
	background: #f7f7fa;
	color: #888;
	width: 1200px;
	min-height: 300px;
	margin: 0 auto;
}

.top-left dt {
	float: left;
}
.top-left dt img {
	width: 210px;
	margin-right: 10px;
}

.top-left dd {
	float: left;
	font-size: 20px;
}
.top-left dd p {
	margin: 5px;
}
.footer-bottom {
	clear: both;
	text-align: center;
	font-size: 20px;
	color: #000;
	height: 60px;
	line-height: 58px;
	background: #dbdbe0;
}

.link-box {
	clear: both;
	padding-top: 30px;
	font-family: "微软雅黑";
	font-size: 20px;
	overflow: hidden;
	margin-bottom: 50px;
}

.link-box h3 {
	font-size: 20px !important;
	color: #000;
}

.link-box ul {
	float: left;
	margin-right: 70px;
	line-height: 40px;
}

.link-box ul li {
	cursor: pointer;
}

.link-box ul li a:hover {
	color: #3ba8e7;
	/*text-shadow: 5px 5px 5px #3ba8e7;*/
	text-decoration: none;
}

.top-right {
	font-size: 20px;
	text-align: right;
}

.top-right .phone {
	margin-top: 40px;
}
.top-right .share-box {
	margin-top: 80px;
}
.top-right .share-box li {
	float: right;
	margin-left: 60px;
}

.top-right .icon {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	cursor: pointer;
}

.top-right .weixin {
	background: #aaaaaa url(http://weker.img-cn-shanghai.aliyuncs.com/images/wei.png) no-repeat center;
	background-size: 28px;
}

.top-right .weibo {
	background: #aaaaaa url(http://weker.img-cn-shanghai.aliyuncs.com/images/bo.png) no-repeat center;
	background-size: 30px;
}

.top-right .weixin:hover {
	background: #4fbf59 url(http://weker.img-cn-shanghai.aliyuncs.com/images/wei.png) no-repeat center;
	background-size: 28px;
}

.top-right .weibo:hover {
	background: #d54141 url(http://weker.img-cn-shanghai.aliyuncs.com/images/bo.png) no-repeat center;
	background-size: 30px;
}
/*头部导航公用*/

.nav-com {
	position: fixed;
	display: block;
	width: 100%;
	z-index: 20;
}
.nav-inner {
	width: 86%;
	margin: 10px auto;
	background: #fff;
	min-height: 50px;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
.nav-com .logo {
	height: 40px;
	margin-top: 7px;
	margin-left: 10px;
}
.nav-com .nav {
	display: inline-block;
	vertical-align: middle;
	margin-top: 4px;
}
.nav-com .nav li {
	display: inline-block;
	margin-left: 72px;
	font-size: 18px;
	line-height: 30px;
	cursor: pointer;
	padding: 2px 5px;
}
.nav-com .about {
	float: right;
	display: inline-block;
	margin-right: 40px;
	font-size: 18px;
	line-height: 30px;
	cursor: pointer;
	padding: 2px 5px;
	margin-top: 7px;
	color: #000 ;
}
.nav-com .about a{
	color: #000;
}
.nav-com .nav li a {
	padding: 0px;
	color: #000;
}

.nav-com .nav li a:hover ,.about a:hover{
	background: none;
	text-decoration: none;
}

.nav-com .phone {
	float: right;
	height: 25px;
	width: 25px;
	background: url(http://weker.img-cn-shanghai.aliyuncs.com/images/app.png) no-repeat center;
	background-size: contain;
	margin-right: 60px;
	margin-top: 12px;
	position: relative;
	/*cursor: pointer;*/
	/*visibility: hidden;*/
}
.nav-com .phone:hover .down-box {
	display: block;
}

.nav-com .down-box {
	position: absolute;
	display: none;
	left: -58px;
	top: 56px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	padding: 5px;
	background: #fff;
}
.nav-com .down-box img{
	height: 130px;
	width: 130px;
}
.nav-com .down-box i {
	position: absolute;
	width: 0;
	height: 0;
	left: 61px;
	top: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
}
.curNav {
	background: #2ea5e9 !important;
	color: #fff !important;
	border-radius: 5px !important;
}
.curNav a{
	color: #fff !important;
}

.nav-com .nav li:hover,.about:hover {
	background: rgba(0, 0, 0, 0.1);
	color: #000;
	border-radius: 5px;
}

.nav-com .nav li.curNav a {
	color: #fff;
}

.code-box {
	position: relative;
}

.code-box .code {
	left: -53px;
	top: -155px;
	position: absolute;
	width: 142px;
	height: 142px;
	box-shadow: 0px 0px 15px #ccc;
	display: none;
	z-index: 21;
}

.code-box .code i {
	position: absolute;
	bottom: -8px;
	left: 48%;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
	margin-top: 10px;
}

.code-box .code img {
	width: 142px;
	height: 142px;
	display: block;
	margin: 0 auto;
}

.code-box:hover .code {
	display: block;
}

.footer-top a {
	color: #888;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	
	.footer-top {
		width: 100%;
	}
}
@media only screen and (max-width: 998px) {
	 
	.footer-top,footer {
		width: 1200px;
		margin:  0 auto;
	}
}

@media only screen and (max-width:800px ) {
	.nav-inner{
		width: 800px;
		margin: 0px auto;
	}
}